<div class ="jumbotron">
    <h2>Contact</h2>
    <p>
    Gerencie seus contatos em qualquer lugar!
    </p>
    <p>
     <%= link_to 'Crie sua conta', '#', class: 'btn btn-primary bnt-lg' %>
    </p>
</div>
